.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    outline: 2px dashed blue;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel {
    background-color: black;
}